.grid(@col: 1fr, @row: auto, @col-gap: 0, @row-gap: 0) {
  display              : grid;
  grid-template-columns: @col;
  grid-template-rows   : @row;
  grid-row-gap         : @row-gap;
  grid-column-gap      : @col-gap;
}