footer.footer
  .footer__container
    .footer__logo 
    .footer__links
        a._link(href="") За рулём 
        a._link(href="") Архив
        a._link(href="") Магазин
    .footer__social 
        a(href="http://")._icon.vk
        a(href="http://")._icon.youtube
        a(href="http://")._icon.insta
    .footer__line 
    a(href="http://").footer__small-text Договор оферты
    .footer__small-text © 2021 За рулем. Все права защищены
    .footer__small-text Разработано в 
        strong Sopdu
