section.pluses
  .block-container
    h2.pluses__title Плюсы подписки
    .pluses__item
      p.item__title Доступ в личный кабинет
      p 
        |Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения.
    .pluses__item
      p.item__title Доступ в личный кабинет
      p 
        |Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения.
    .pluses__item
      p.item__title Доступ в личный кабинет
      p 
        |Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения.
    .pluses__item
      p.item__title Доступ в личный кабинет
      p 
        |Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения.