section.pluses
  .block-container
    h2.pluses__title Плюсы подписки
    a(href="http://").pluses__subtitle Оформить подписку
    .pluses__item
      p.pluses__item__title Доступ в личный кабинет
      p.pluses__item__text для вас открывается возможность управлять подпиской и смотреть историю подписки
      a(href="http://").pluses__item__link Ознакомиться
      img(src="img/pluses/lk.png", alt="").pluses__item__img
    .pluses__item
      p.pluses__item__title Уникальный журнал
      p.pluses__item__text Вы становитесь не только обладателем журнала, а еще коллекционером номера
      a(href="http://").pluses__item__link Ознакомиться
      img(src="img/pluses/frame.png", alt="").pluses__item__img
    .pluses__item
      p.pluses__item__title Проверенный контент
      p.pluses__item__text Для журнала мы используем самые качественные и проверенные источники
      a(href="http://").pluses__item__link Ознакомиться
      img(src="img/pluses/lk.png", alt="").pluses__item__img