.pluses{
  background-color: @gray_01;
  padding: 133px 0 133px 0;

  @media only screen and (max-width: @size-tablete){
    padding: 34px 0 51px 0;
    }
  
  &__title,&__subtitle {
    .grid-col-span(3);
    justify-self: center;
  }


  &__item{
    .grid(1fr, @h2-size);
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: @white;
    padding: calc( 0.033 * var(--container-width)) calc( 0.05 * var(--container-width)) 0 calc( 0.05 * var(--container-width));
    @media only screen and (max-width: @size-tablete){
      width:100%;
      padding-top: 24px;
      }

      &__title{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 8px;
      }
      &__text{
        margin-bottom: 28px;
      }

      &__link{
        color: @gray_03;
        text-decoration: none;
        font-weight: 700;
        font-size: 17px;
      }
    
      &__img{
    max-width: 255px;
    width: calc( 0.23 * var(--container-width));
    @media only screen and (max-width: @size-tablete) {
      width: calc( 0.725 * var(--container-width));
    }

      }
  }
  
  & .block-container{

    .grid(1fr 1fr 1fr,@h2-size  auto ,2% ,1.5rem);
    
    @media only screen and (max-width: @size-tablete) {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row-gap:15px;
    }
  }
}





