.date-picker 
            ._row
                ._row__header
                    ._row__title 1 полугодие 2021
                    ._row__price 1 000 ₽
                ._row__months
                    ._row__month
                        input#ch1(type="checkbox", name="ch1")
                        label(for="ch1")  Янв
                    ._row__month
                        input#ch2(type="checkbox", name="ch2")
                        label(for="ch2")  Фев
                    ._row__month.date-picker__row__month--active
                        input#ch3(type="checkbox", name="ch3")
                        label(for="ch3")  Мар
                    ._row__month.date-picker__row__month--active
                        input#ch4(type="checkbox", name="ch4")
                        label(for="ch4") Апр
                    ._row__month.date-picker__row__month--active
                        input#ch5(type="checkbox", name="ch5")
                        label(for="ch5") Май
                    ._row__month.date-picker__row__month--active
                        input#ch6(type="checkbox", name="ch6")
                        label(for="ch6") Июн

            ._row
                ._row__header
                    ._row__title 2 полугодие 2021
                    ._row__price 3 000 ₽
                ._row__months
                    
                    ._row__month.date-picker__row__month--active
                        input#ch7(type="checkbox", name="ch7")
                        label(for="ch7") Июл
                    ._row__month.date-picker__row__month--active
                        input#ch8(type="checkbox", name="ch8")
                        label(for="ch8") Авг
                    ._row__month.date-picker__row__month--active
                        input#ch9(type="checkbox", name="ch9")
                        label(for="ch9") Сен
                    ._row__month.date-picker__row__month--active
                        input#ch10(type="checkbox", name="ch10")
                        label(for="ch10") Окт
                    ._row__month.date-picker__row__month--active
                        input#ch11(type="checkbox", name="ch11")
                        label(for="ch11") Ноя
                    ._row__month.date-picker__row__month--active
                        input#ch12(type="checkbox", name="ch12")
                        label(for="ch12") Дек
            ._row
                ._row__header
                    ._row__title 1 полугодие 2021
                    ._row__price 1 000 ₽
                ._row__months
                    ._row__month.date-picker__row__month--active
                        input#ch1_2(type="checkbox", name="ch1_2")
                        label(for="ch1_2")  Янв
                    ._row__month.date-picker__row__month--active
                        input#ch2_2(type="checkbox", name="ch2_2")
                        label(for="ch2_2")  Фев
                    ._row__month.date-picker__row__month--active
                        input#ch3_2(type="checkbox", name="ch3_2")
                        label(for="ch3_2")  Мар
                    ._row__month.date-picker__row__month--active
                        input#ch4_2(type="checkbox", name="ch4_2")
                        label(for="ch4_2") Апр
                    ._row__month
                        input#ch5_2(type="checkbox", name="ch5_2", disabled='true')
                        label(for="ch5_2") Май
                    ._row__month
                        input#ch6_2(type="checkbox", name="ch6_2", disabled='true')
                        label(for="ch6_2") Июн
            ._new-row Добавить полугодие (6 месяцев)