.date-picker 
            ._row
                ._row__header
                    ._row__title 1 полугодие 2021
                    ._row__price 1 000 ₽
                ._row__months
                    ._row__month Янв
                    ._row__month Фев
                    ._row__month Мар
                    ._row__month.date-picker__row__month--active Апр
                    ._row__month.date-picker__row__month--active Май
                    ._row__month.date-picker__row__month--active Июн

            ._row
                ._row__header
                    ._row__title 2 полугодие 2021
                    ._row__price 3 000 ₽
                ._row__months
                    
                    ._row__month.date-picker__row__month--active Июл
                    ._row__month.date-picker__row__month--active Авг
                    ._row__month.date-picker__row__month--active Сен
                    ._row__month Окт
                    ._row__month Ноя
                    ._row__month Дек
            ._row
                ._row__header
                    ._row__title 3 полугодие 2021
                    ._row__price 6 000 ₽
                ._row__months
                    ._row__month Янв
                    ._row__month Фев
                    ._row__month Мар
                    ._row__month Апр
                    ._row__month Май
                    ._row__month Июн
            ._new-row Добавить полугодие (6 месяцев)