article.reg 
    .reg__alert Заполните поля обозначенные красным
    h1._title Оформление подписки
    ._subtitle Если вы ранее уже оформляли подписку на нашем сайте, то войдите в 
        a._subtitle(href="http://")  Личный&nbsp;кабинет
    h3._form__title 
    form(action="", method="post")._form
        .input-field
            select
                option(value, disabled, selected) Выберите период
                option(value) 6 месяцев
                option(value ) 12 месяцев
                option(value) 24 месяца
            label Период подписки
        .input-field
            select
                option(value, disabled, selected) Выберите количество
                option.left(value) 1 штука
                option.left(value ) 2 штуки
                option.left(value) 3 штуки
            label Количество
        p._form__checkbox
            label
                input.filled-in(type="checkbox", checked)
                span  Оформить авто подписку
        include date-picker.pug

        .promo-code 
            .input-field
                input#promo1.validate(type="text")
                label(for="promo1") Ввести промо код


        include reg-contacts.pug
        include reg-adress.pug

        .input-field.span-2
            textarea#comment.materialize-textarea
            label(for="comment") Комментарий к подписке
                span.ness *
        
        h2.reg__title.span-2  Способ оплаты
        
        .reg__pay.zr-button(href="") 
            .reg__pay__img.reg__pay__img--card gg
            span.reg__pay__text Картой онлайн
            
       
            
        .reg__pay.gray_button(href="") 
            .reg__pay__img.reg__pay__img--receipt gg
            span.reg__pay__text Квитанцией в банке

        .promo-code 
            .input-field
                input#promo2.validate(type="text")
                label(for="promo2") Ввести промо код

        ._choose__month.choose__month
            
            ._choose__month__old-price.choose__month__old-price 1000
            ._choose__month__price.choose__month__price 500&nbsp;₽
            
            a(href="http://").choose__month__button.zr-button Оформить подписку
            .choose__month__little-text Нажимая кнопку “оформить подписку“ вы даете согласие на 
                a(href="http://")  обработку персональных данных

.reg__footer
    ._container            
        .reg__footer__price 500&nbsp;₽
        .reg__footer__time 12 месяцев
        a(href="http://")._button.zr-button Оформить подписку
        .reg__footer__little-text Нажимая кнопку “оформить подписку“ вы даете согласие на 
            a(href="http://")  обработку&nbsp;персональных&nbsp;данных


