.index-modal
    ._container 
        ._header
            ._header__title Год
            ._header__old-price 8000
            ._header__price 4999 
        
            a(href="http://")._button.zr-button Оформить подписку
        ._content
            ._title 
            ul._ul 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
                li._li 
            ._img
        ._cross(onclick="toggleModal()") 