header.header
  a.header__link
    .header__logo(href="/") 
  a.header__link(href="") Оформление подписки
  a.header__link(href="") О подписке
  a.header__link(href="") Контакты
  a.header__in(href="")
    .header__in__img  
    span.header__in__text Вход 

  