@keyframes  turn_down{
  from{ height: 0;   
        filter: opacity(0);    }
    
      to{        
        filter: opacity(1);
        height: 80px; 
      }

}

@keyframes  turn_down2{

  from{ 
    transform: translateY(-80px); 
    filter: opacity(0);    }

  to{        
    filter: opacity(1);
  }

}

.header{
  background-color: @gray_01;
  position: sticky;
  top:0;
  z-index: 20;
  animation: turn_down @aniimation_time @aniimation_way;
  &__container{
    .flex-row();
    animation: turn_down2 @aniimation_time @aniimation_way  ;   
 
  align-content: center;
  align-items: center; 
  justify-content: space-between;
  padding: 15px 0 15px 0;
  
  }
 
  
     
  &__logo{   
    
    .masked-icon("img/common/logo.svg");
    color:@dark_red;
    max-width: 240px;
    max-height: 50px;
    width: calc( 0.17 * var(--container-width));
    height: calc( 0.034 * var(--container-width));;
    @media (max-width: @size-mobile) {
      width: 101px;
      height: 21px;
    }
    
  }
  
  &__link{
font-weight: 700;
text-decoration: none;
color: @black;

&:hover{
  text-decoration: none;
}
    @media (max-width: @size-mobile) {
      order: 2;
    }
  }
  
  &__in{
    width: 130px;
    height: 50px;
    flex-wrap: nowrap!important;
    justify-self: center;  
    @media (max-width: @size-mobile) {
      order: 3;

    }
    
    &__img{
      @media (max-width: @size-mobile) {
        color: @dark_red;
      }
      .masked-icon('img/header/in.svg');
      width: 32px;
      height: 32px;
      content: " ";
     
     
    }

    &:hover > &__text { color:inherit}
    
  }

  &__toggle {
    left              : 5%;
    display           : grid;
    grid-template-rows: 1fr 1fr 1fr;
    width             : 30px;
    height            : 1.2rem;
    align-self        : center;
    justify-self      : center;
    row-gap: 8px;

    cursor: pointer;

    @media (max-width: @size-mobile) {
      order: 1;
    }
  }

  &__toggle__line {
    height       : 50%;
    border-bottom: 2px solid @dark_red;
  }

 

  &__bottom {
    .grid(1fr, repeat(4, 2em) 50px, 10px, 20px);
    position   : fixed;
    top        : 126px;
    left       : 5%;
    right      : 5%;
    z-index    : 20;
    background : white;
    height     : auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index    : 20;
    justify-items: center;
    

    &  .zr-button div,  &  .zr-button span { color: @white;}


    
 &__overlay{
    position   : fixed;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom:0;
    z-index    : 10;
    background-color: rgba(0, 0, 0, 0.445) ;
   
  }

  
  .header__bottom.m-hide + &__overlay{
    display: none;
  }
  }

  &__cross {
    display: block;
    width: @cross_size;
    height: @cross_size;
    .bg-contain('img/common/X.svg');
    filter: drop-shadow(0.1em 0.1em 4px black) ;
   
    position      : absolute;
    top           : -@cross_size*2;
    left          : ~"calc( 50% - " @cross_size ~"/2) ";
    color: white;
    font-family   : 'HelveticaNavCyr', sans-serif;
    font-size     : 24px;
    font-weight   : 600;
    line-height   : 1.4em;
    cursor        : pointer;
  }

}
