.subscribe-first {
  .container-m();
  background-color: @gray_01;
  padding         : 56px 90px 56px 90px;
  .grid(1.3fr 1fr, auto, 10%, 7px);
  align-items: center;

  &__img {
    grid-row   : span 4;
    grid-column: 2;
    width      : 100%;
    height     : auto;
  }

  &__title {
    grid-row   : 1;
    font-size  : @h2-size;
    line-height: 110%;

  }

  &__small-text {
    font-size  : 12px;
    line-height: 130%;
    align-self : start;
    padding-left: 6%;
  }
}