@keyframes  turn_left {
  from{

    transform: rotateZ(90deg);
    filter: opacity(0);
  }

  to{
    transform: rotateZ(0deg);
    filter: opacity(1);
  }
}




@keyframes  turn_up {

  from{
margin-top: 50vh;
    padding-top: 300px;
    filter: opacity(0);
  }

  to{
    
    filter: opacity(1);
  }
  
}



.subscribe-first {
  .container-m();
  background-color: @gray_01;
  padding         : calc( 0.05 * var(--container-width)) calc( 0.05 * var(--container-width)) 0 calc( 0.05 * var(--container-width));
  display: grid;
  
  grid-template-columns: calc( 0.34 * var(--container-width)) minmax(1fr,calc( 0.36 * var(--container-width)));
  grid-template-rows:  minmax(98px,auto) minmax(60px,auto) auto;
  
  grid-column-gap:  33px;
  grid-row-gap: 23px;

  @supports not ( display: grid){
    display: flex; 
    flex-direction: row;
    align-content: space-between;

  }
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 32px!important;
  animation: turn_up @aniimation_time @aniimation_way ;

  @media only screen and (max-width: @size-tablete) {
    .grid( 1fr, auto, 0, 15px);
    padding: 22px 1em 0px 1em;
    
  }


  &__img {
    grid-row   : span 3;
    grid-column: 2;
    width      : auto;
    
    height: calc( 0.4 * var(--container-width));

    z-index: 10;
    box-shadow: -10px 10px 30px @gray_04;
    align-self: end;
    transform-origin: bottom left;
    animation: turn_left @aniimation_time @aniimation_way ;

    @media only screen and (max-width: @size-tablete) {
      grid-column: 1;
      grid-row: 4;
      width: 100%;
      height: auto;
      max-width: 224px;
      justify-self: center;
    }
  }

  &__title {
    grid-row   : 1;
    font-size  : @h2-size;
    line-height: 110%;
    z-index: 12;
    margin-bottom: 0;

    @media only screen and (max-width: @size-tablete) {
      text-align: center;
    }

  }


  &__button__container{
    .grid(1fr, 50px 16px, 10px,10px);
    @supports not ( display: grid){
      
      flex-direction: column;
      align-content: space-between;
    }
    justify-self: start;
    row-gap: 10px;
    align-self: start;
    margin-top: 40px;
    @media only screen and (max-width: @size-tablete) {
      margin-top: 17px;
      row-gap: 1rem;
      justify-self: center;
      width:75vw;
      padding-bottom: 15px;
    }
    
  }

  &__button{
    z-index: 10;
    justify-self: center;
    @media only screen and (max-width: @size-tablete) {
      padding: 11px 1em 11px 1em;
    }
  }

  &__text{
    align-self: start;
    max-width: 384px;
z-index: 12;
    @media only screen and (max-width: @size-tablete) {
      text-align: center;
      margin: auto;
    }
   
  }

  &__small-text {
    font-size  : 12px;
    line-height: 130%;
    align-self : center;
    justify-self: center;
    z-index: 10;
    color: @gray_03;
  }

  &__circle {
    width: calc( 0.77 * var(--container-width));
    height: calc( 0.77 * var(--container-width));
    background-color: @gray_02;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    left: 44.6%;
    z-index: 1;
    transform-origin: bottom left;
    animation: turn_left @aniimation_time @aniimation_way ;

    @supports not ( display: grid){
      display: none; 
      
    }

    @media only screen and (max-width: @size-tablete) {
      width: 120vw;
      height: 120vw;
      top: 53%;
     left: -15vw;
    }

    @media only screen and (min-width: 1401px) {
      width: 839px;
      height: 839px;
      
    }

  }
}