section.subscribe-first
  img(src="img/first/mag.png", alt="").subscribe-first__img  
  h2.subscribe-first__title Оформите подписку на авто&#8209;журнал
  .subscribe-first__text  
    |Получайте каждый месяц новую редакцию журнала и 
    |узнавайте только проверенную информацию от проверренного источника
  button.subscribe-first__button.zr-button Подписаться на журнал
  .subscribe-first__small-text Стоимость подписки 500 рублей в месяц