aside.lk__aside
    ._alert Продлить подписку на «За рулем»
    ._container
        a(onclick="")._link
            ._icon.lk__aside__icon--User
            ._text Профиль
        a(onclick="")._link
            ._icon.lk__aside__icon--Key
            ._text Сменить пароль
        a(onclick="")._link
            ._icon.lk__aside__icon--BookOpen
            ._text История подписки
        a(onclick="")._link
            ._icon.lk__aside__icon--Cap
            ._text Написать издательству