.lk__history.hide
    
    h3.form-subtitle История подписки
    .lk__button.zr-button Промо-код: SdF5Tr4

    
    .__header    
        ._title.m-hide Номер
        ._title.m-hide Дата
        ._title.m-hide Статус
        ._title.m-hide Способ оплаты
        ._title.m-hide Время
        ._title.m-hide Стоимость        
        div.m-hide
    

    
    ._row
        ._title.m-show Номер
        ._text №25-365
        ._title.m-show Дата
        ._text 25.03.2021
        ._title.m-show Статус
        ._oval Оплачено
        ._title.m-show Способ оплаты
        ._text Квитанцией в банке
        ._title.m-show Время
        ._text 12 месяцев
        ._title.m-show Стоимость
        strong._text 40 999 ₽
        ._title.m-show Продлить
        a(href="")._icon
    
    ._subscribe.-active Подписка активная, Июль 2021 – Июнь 2022 (еще 5 номеров)
    
    ._row
        ._title.m-show Номер
        ._text №25-365
        ._title.m-show Дата
        ._text 25.03.2021
        ._title.m-show Статус
        ._oval Оплачено
        ._title.m-show Способ оплаты
        ._text Квитанцией в банке
        ._title.m-show Время
        ._text 12 месяцев
        ._title.m-show Стоимость
        strong._text 40 999 ₽
        ._title.m-show Продлить
        a(href="")._icon
    
    ._subscribe.-waiting Подписка ожидает оплаты, Июль 2021 – Июнь 2022 (еще 7 номеров)
    
    ._row
        ._title.m-show Номер 
        ._text №25-365
        ._title.m-show Дата
        ._text 25.03.2021
        ._title.m-show Статус
        ._oval.-waiting Ожидает оплаты
        ._title.m-show Способ оплаты
        ._text Оплата картой
        ._title.m-show Время
        ._text 12 месяцев
        ._title.m-show Стоимость
        strong._text 40 999 ₽
        ._title.m-show Продлить
        a(href="")._icon
    
    ._subscribe.-waiting Подписка ожидает оплаты, Июль 2021 – Июнь 2022 (еще 7 номеров)
    
    ._row
        ._title.m-show Номер
        ._text №25-365
        ._title.m-show Дата
        ._text 25.03.2021
        ._title.m-show Статус
        ._oval Оплачено
        ._title.m-show Способ оплаты
        ._text Оплата картой
        ._title.m-show Время
        ._text 12 месяцев
        ._title.m-show Стоимость
        strong._text 40 999 ₽
        ._title.m-show Продлить
        a(href="")._icon
    
    ._subscribe.-inactive Подписка закончилась - 
        a(href="") оформить новую