section.lk

    include lk_aside.pug
    
        .lk__right
            include lk_profile.pug
            include lk_pass_change.pug
            include lk_history.pug
            include lk_mail.pug