section.lk

    aside.lk__aside
        ._alert Продлить подписку на «За рулем»
        ._container
            a(onclick="")._link.lk__aside__link--active
                ._icon.lk__aside__icon--User
                ._text Профиль
            a(onclick="")._link
                ._icon.lk__aside__icon--Key
                ._text Сменить пароль
            a(onclick="")._link
                ._icon.lk__aside__icon--BookOpen
                ._text История подписки
            a(onclick="")._link
                ._icon.lk__aside__icon--Cap
                ._text Написать издательству
            a(style="background-color:white;")._link.m-show
        
    .lk__right
        include lk_profile.pug
        include lk_pass_change.pug
        include lk_history.pug
        include lk_mail.pug
    
