form(action="", method="get").lk__pass_change.hide
    h3.form-subtitle Сменить пароль
    .input-field
        input#pass.validate(type="password")
        label(for="pass") Введите новый пароль 
            span.ness *

    .input-field
        input#pass2.validate(type="password")
        label(for="pass2") Повторите новый пароль
            span.ness *
    .lk__button-container 
        a(href="#").lk__button.zr-button Сохранить
        a(href="#").lk__button--cancel Отмена