
form(action="", method="get").lk__profile.hide
    include ../reg/reg-contacts.pug
    include ../reg/reg-adress.pug
    
    .input-field.span-2
        textarea#comment.materialize-textarea
        label(for="comment") Комментарий к подписке
            span.ness *
            
    p._form__checkbox
        label
            input.filled-in(type="checkbox", checked)
            span  Оформить авто подписку

    .lk__button-container 
        a(href="#").lk__button.zr-button Сохранить
        a(href="#").lk__button--cancel Отмена
    
    