script 
      include header/toggle_header.js
      include index_modal/toggle_modal.js
      include header/header_modal.js
      include init-js/toggle_block.js
      include init-js/select-init.js
      
      
script(src="../materialize-css/js/materialize.min.js")