meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="stylesheet", href="./materialize-css/css/materialize-cut.css")  
link(rel="stylesheet", href="./bundle.zr-podpiska.min.css") 

style.
  @font-face {
    font-family: 'PT Sans';
    src: 
         url(./fonts/PT_Sans/PTSans-Bold.ttf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'PT Sans';
    src: 
         url(./fonts/PT_Sans/PTSans-Regular.ttf);
    font-weight: normal;
  }