html(lang="ru") 
  head
    include parts/common_headings.pug   
    title 404
    
  body

    ._404
        
        ._404__logo
        
        ._404__container
          ._404__container__inner
              h1._404__title._404__title--error  Ошибка 404
              ._404__button.zr-button(href="/") На главную 
        footer.footer.footer--404
            .footer__container.footer__container--404
                
                .footer__links.footer__links--404
                    a._link.footer__link--404(href="") За рулём 
                    a._link.footer__link--404(href="") Архив
                    a._link.footer__link--404(href="") Магазин
                .footer__social.footer__social--404 
                    a(href="http://")._icon.footer__social__icon--404.vk
                    a(href="http://")._icon.footer__social__icon--404.youtube
                    a(href="http://")._icon.footer__social__icon--404.insta