html(lang="ru") 
  head
    include parts/common_headings.pug   
    title Соглашение
    
  body
    include parts/header/header.pug
    include parts/agreement/agreement.pug
   
    include parts/footer/footer.pug