html(lang="ru") 
  head
    include parts/common_headings.pug   
    title Контакты
    
  body
    include parts/header/header.pug
    include parts/contacts/contacts.pug
   
    include parts/footer/footer.pug