
html(lang="ru") 
  head
    include parts/common_headings.pug
     
    title Главная
    
  body
    include parts/header/header.pug
    include parts/sbs_first/sbs_first.pug
    include parts/sbs_choose/sbs_choose.pug
    include parts/sbs_pluses/sbs_pluses.pug
    include parts/questions/questions.pug
    include parts/footer/footer.pug
    include parts/index_modal/index_modal.pug
    include parts/common_scripts.pug

    
      

    