html(lang="ru") 
  head
    include parts/common_headings.pug 
     
    title Личный кабинет
    
  body
    include parts/header/header.pug
    include parts/lk/lk_main.pug
    include parts/footer/footer.pug
    include parts/common_scripts.pug
    

    script 
      
      include parts/init-js/select-init.js
      
      include parts/reg/date-picker.js
      include parts/lk/lk_off_all.js
      

    script(src="../materialize-css/js/materialize.min.js")