head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/materialize-css/css/materialize-cut.css")
    link(rel="stylesheet", href="bundle.zr-podpiska.min.css")
    title Карта сайта
body
    ._404
        ._404__logo
        ._404__container(style="padding: 1em;grid-row-gap: 10px;")
            h1._404__title Карта сайта
            a(href="/zr-podpiska/index.html") Главная 
            a(href="/zr-podpiska/subscribe.html") Оформление подписки 
            a(href="/zr-podpiska/404.html") 404 
            a(href="/zr-podpiska/lk.html") Личный кабинет 
            a(href="/zr-podpiska/contacts.html") Контакты 
            a(href="/zr-podpiska/agreement.html") Соглашение об использовании персональных данных 
    footer.footer.footer--404
        .footer__container.footer__container--404
            .footer__links.footer__links--404
                a.footer__links__link.footer__link--404(href) За рулём 
                a.footer__links__link.footer__link--404(href) Архив
                a.footer__links__link.footer__link--404(href) Магазин
            .footer__social.footer__social--404
                a.footer__social__icon.footer__social__icon--404.vk(href="http://")
                a.footer__social__icon.footer__social__icon--404.youtube(href="http://")
                a.footer__social__icon.footer__social__icon--404.insta(href="http://")