html(lang="ru") 
head
  include parts/common_headings.pug 
   
  title Выбрать свою подписку
    
body.header-not-sticky
  include parts/header/header.pug
  include parts/reg/reg.pug
  include parts/reg_modal/reg_modal.pug
  
  script(src="materialize-css/js/materialize.min.js")
  
  include parts/common_scripts.pug
  
  script 
    
    
    include parts/reg/date-picker.js
    include parts/reg/toggle_reg_footer.js
    
    
  
//-     include parts/index_modal/toggle_modal.js