html(lang="ru") 
  head
    include parts/common_headings.pug   
    title 404
    
  body

    ._404
        
        ._404__logo
        
        ._404__container(style="padding: 2.2em 2em;")
            ._404__container__inner
                h1._404__title(style="text-align:center")  Спасибо за подписку, Константин Константинович
                .header__in.m-hide.zr-button(href="/lk.html" style="width:100%;")
                    .header__in__img( style="color:white;")  ddd
                    span.header__in__text Вход в личный кабинет
                .header__in.m-show.zr-button(href="/" )
                    
                    span.header__in__text На главную
                
        footer.footer.footer--404
            .footer__container.footer__container--404
                
                .footer__links.footer__links--404
                    a._link.footer__link--404(href="") За рулём 
                    a._link.footer__link--404(href="") Архив
                    a._link.footer__link--404(href="") Магазин
                .footer__social.footer__social--404 
                    a(href="http://")._icon.footer__social__icon--404.vk
                    a(href="http://")._icon.footer__social__icon--404.youtube
                    a(href="http://")._icon.footer__social__icon--404.insta