section.questions
  h2.questions__title  Остались вопросы?
  a(href="http://").questions__subtitle Оформить подписку
  .questions__item
    .questions__item__title Какой тариф удобнее для меня?
      a(onclick="openText(this)").questions__item__arrow.questions__item__arrow-up
    .questions__item__text.questions__item__text--full Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Также как убеждённость некоторых оппонентов является качественно новой ступенью существующих финансовых и иных условий. Повседневная практика показывает, что экономическая повестка сегодняшнего дня предопределяет высокую востребованность системы массового участия. Противоположная точка зрения подразумевает, что представители современных социальных резервов функционально.
  .questions__item
    .questions__item__title Как могу получить журнал?
      a(onclick="openText(this)").questions__item__arrow
    .questions__item__text.hide Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Также как убеждённость некоторых оппонентов является качественно новой ступенью существующих финансовых и иных условий. Повседневная практика показывает, что экономическая повестка сегодняшнего дня предопределяет высокую востребованность системы массового участия. Противоположная точка зрения подразумевает, что представители современных социальных резервов функционально.
  .questions__item
    .questions__item__title Сколько раз в месяц буду получать журнал?
      a(onclick="openText(this)").questions__item__arrow 
    .questions__item__text Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Также как убеждённость некоторых оппонентов является качественно новой ступенью существующих финансовых и иных условий. Повседневная практика показывает, что экономическая повестка сегодняшнего дня предопределяет высокую востребованность системы массового участия. Противоположная точка зрения подразумевает, что представители современных социальных резервов функционально.
  .questions__item
    .questions__item__title В какой упаковке будет журнал?
      a(onclick="openText(this)").questions__item__arrow 
    .questions__item__text Имеется спорная точка зрения, гласящая примерно следующее: независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе. Также как убеждённость некоторых оппонентов является качественно новой ступенью существующих финансовых и иных условий. Повседневная практика показывает, что экономическая повестка сегодняшнего дня предопределяет высокую востребованность системы массового участия. Противоположная точка зрения подразумевает, что представители современных социальных резервов функционально.
  script
        include questions.js