section.choose
  h2.choose__title Выберите подписку
  a(href="http://").choose__subtitle Выбрать свой период
  .choose__month
    .choose__month__title 1 месяц
    .choose__month__old-price 1000
    .choose__month__price 500
    .choose__month__little-text в день
    a(href="http://").choose__month__button.zr-button Оформить подписку
    a(href="http://").choose__month__little-text Подробнее
  .choose__year
    .choose__month
      .choose__month__title год
      .choose__month__old-price 8000
      .choose__month__price 4999 
      .choose__month__little-text в день
      a(href="http://").choose__month__button.zr-button Оформить подписку
      a(href="http://").choose__month__little-text Подробнее
    .choose__year__title.m-hide Получите привелегии и скидку на годовую подписку журнала “За&nbsp;рулем”
    .choose__year__text.m-hide 
        |В годовую подписку входят 12 журналов за рулем, уведомление об отправке журнала,
        | уведомление об  окончании подписки за месяц и ссылка на оплату.
    
  .choose__contact
      |По всем вопросам готовы ответить по электронной почте:
      | help@zr.ru <br/> или телефону: +7 000 000 00 00